/* .main {
    display: flex;
    gap: 12px;
}

.chart {
    width: 75vw;
    height: 100vh;
}

.candleChart {
    height: 70%;
}

.sidebar {
    width: 25vw;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column-reverse;
    }
    .chart {
        width: unset;
    }
    
    .sidebar {
        width: unset;
    }
    
} */